<header class="site-header"> 
  <div class="container">
    <h3 class="site-title">
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </h3>
<!--
    <nav class="contact">
      <form class="form-inline">
        <input class="form-control" type="text" placeholder="태그 검색(준비중)">
        <button class="btn btn-success" type="submit">찾기</button>
      </form>

      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endfor %}

    </nav>
-->
  </div>

<!--added to the original for making dropdown menu-->
  <nav class="menu-list">   <!--menu-list <-> dropdown-->
    <ul class="navbar-nav">

      <li class="menu-item dropdown">  
        <a class="menu-link dropdown-toggle" href="{{ site.github.url }}/pages/computer.html" data-toggle="dropdown">컴퓨터</a>
        <div class="submenu-list">   <!--submenu-list <-> dropdown-content-->
          {% for item in site.data.settings.computer_menu %}
              <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="submenu-link">{{ item.name }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="menu-item dropdown">  
        <a href="{{ site.github.url }}/pages/science.html" class="menu-link dropdown-toggle" data-toggle="dropdown">과학</a>
        <div class="submenu-list">
          {% for item in site.data.settings.science_menu %}
              <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="submenu-link">{{ item.name }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="menu-item dropdown">
        <a href="{{ site.github.url }}/pages/numbers.html" class="menu-link dropdown-toggle" data-toggle="dropdown">숫자가 말하는 현실</a>
        <div class="submenu-list">
          {% for item in site.data.settings.numbers_menu %}
              <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="submenu-link">{{ item.name }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="menu-item dropdown">
        <a href="{{ site.github.url }}/pages/writings.html" class="menu-link dropdown-toggle" data-toggle="dropdown">저작&번역</a>
        <div class="submenu-list">
          {% for item in site.data.settings.writings_menu %}
              <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="submenu-link">{{ item.name }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="menu-item">
        <a href="{{ site.github.url }}/pages/about.html" class="menu-link">about</a>
      </li>

      <li class="menu-item">
        <a href="{{ site.github.url }}/pages/contact.html" class="menu-link">contact</a>
      </li>

    </ul>

<!--added to the original for making dropdown menu-->

  </nav>


  <div class="dropdown">
    <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div class="dropdown-content">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/pages/{{ item.file }}" class="menu-link">{{ item.name }}</a>
      {% endfor %}

<!--
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endfor %}
-->


      <form class="form-inline">
        <input class="form-control" type="text" placeholder="태그 검색" style="width:80px;height:10px;font-size:8px;margin:3px 15px;">
        <button class="btn btn-success" type="submit" style="width:40px;height:16px;font-size:8px;margin:0px -7px;">찾기</button>
      </form>
    </div>
  </div>
</header>



<!--
출처: https://devyurim.github.io/development%20environment/github%20blog/2018/08/07/blog-6.html
https://devyurim.github.io/development%20environment/github%20blog/2018/08/12/blog-8.html
https://coding-restaurant.tistory.com/47
-->
